.camperHeading {
  display: flex;
  align-items: center;
  gap: 12px;
  @media screen and (max-width: 550px) {
    justify-content: center;
    flex-direction: column;
  }
}

.camperName {
  margin-right: auto;
  color: var(--Main, #101828);
  font-size: 24px;
  line-height: 1.33;
  @media screen and (max-width: 550px) {
    margin: 0;
  }
}

.camperPrice {
  color: var(--Main, #101828);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.details .camperPrice {
  margin-top: 16px;
  @media screen and (max-width: 550px) {
    text-align: center;
  }
}

.favouriteButton {
  background: transparent;
  border: none;
  transition: background-color 0.3s;
}

.camperMetaData {
  margin-top: 8px;
  display: flex;
  gap: 16px;
  @media screen and (max-width: 550px) {
    justify-content: center;
  }
}

.camperMetaData p {
  display: flex;
  align-items: center;
  gap: 4px;
}

.reviews {
  text-decoration-line: underline;
  text-underline-position: from-font;
}

.starIcon {
  fill: #ffc531;
}

.locationIcon {
  fill: #101828;
}

.favorite {
  fill: #ff0000;
}
