.camperItem {
  display: flex;
  gap: 24px;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid #dadde1;
  background: var(--White, #fff);
}

.camperDetailsLink {
  display: inline-block;
  color: var(--White, #fff);
  margin-top: 24px;
  border-radius: 200px;
  letter-spacing: -0.005em;
  background: var(--Link-background);
  padding: 16px 40px;
  transition: all 0.2s ease;
  &:hover,
  &:focus {
    background: var(--Link-hover-background);
    color: currentColor;
  }
}
