.camperItem {
  display: flex;
  gap: 24px;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid #dadde1;
  background: var(--White, #fff);
}

.camperItemInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  outline: 2px dashed olivedrab;
}

.camperItemLink {
  margin-top: 24px;
  padding: 16px 40px;
}
