.button {
  /* display: inline-block; */
  width: fit-content;
  color: var(--White, #fff);
  cursor: pointer;
  margin-top: 40px;
  padding: 16px 43px;
  font-weight: 500;
  letter-spacing: -0.005em;
  border: none;
  border-radius: 200px;
  background: var(--Button, #e44848);
  line-height: 1.5;
  transition: all 0.2s ease;
  &:hover,
  &:focus-visible {
    background: var(--Link-hover-background);
  }
}
