.button {
  display: inline-block;
  color: var(--White, #fff);
  margin-top: 40px;
  border-radius: 200px;
  letter-spacing: -0.005em;
  background: var(--Link-background);
  padding: 16px 49px;
  transition: all 0.2s ease;
  &:hover,
  &:focus {
    background: var(--Link-hover-background);
    color: currentColor;
  }
}
