.catalogPage {
  margin-top: 48px;
  display: flex;
  gap: 64px;
  width: 100%;
  @media screen and (max-width: 1024px) {
    align-items: center;
    flex-direction: column;
  }
  @media screen and (max-width: 374px) {
    gap: 40px;
  }
}
