.equipmentLabelsList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-weight: 500;
  overflow: hidden;
  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    max-height: calc(16px + 3 * 48px);
  }
}

/* .equipmentLabelsList {
  display: block;
  max-height: calc(4 * 48px);
  overflow: hidden;
} */

.labelItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 100px;
  background: var(--Badges, #f2f4f7);
}

.equipmentIcon {
  fill: var(--Main, #101828);
}
