@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --Main: #101828;
  --White: #fff;
  --Light: #ffffff;
  --Gray-light: #dadde1;
  --Dark: #101828;
  --Text: #475467;
  --Inputs: #f7f7f7;
  --Badges: #f2f4f7;
  --Light-red: #f0b1b1;
  --Error: #ed6f6f;
  --Button: #e44848;
  --Button-Hover: #d84343;
  --Url-active-hover: #d84343;
  --Link-background: #e44848;
  --Link-hover-background: #d84343;
  --StarFilled: #ffc531;
  --StarEmpty: #f2f4f7;
  --Loader-secondary-color: #d2bbbb;
  --Loader-primary-color: #e44848;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: var(--Main);
  text-decoration: inherit;
  transition: color 0.2s ease;
  &:hover {
    color: var(--Url-active-hover);
  }
}

.link {
  display: inline-block;
  width: fit-content;
  color: var(--White, #fff);
  margin-top: 40px;
  border-radius: 200px;
  letter-spacing: -0.005em;
  background: var(--Link-background);
  padding: 16px 49px;
  transition: all 0.2s ease;
  &:hover,
  &:focus {
    background: var(--Link-hover-background);
    color: var(--White, #fff);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #213547;
  }
} */

.container {
  padding: 0 64px;

  @media screen and (max-width: 374px) {
    padding: 0 20px;
  }

  @media screen and (min-width: 375px) and (max-width: 767px) {
    padding: 0 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
  }
}

/* Reset */

*,
*:is(::after, ::before) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
